body {
    background-color: rgb(193, 236, 247);
}
h1 {
    text-align: center;
}
img {
    border: 5px solid #000;
    width: 200px; height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.about {
    display: flex;
}

.about .about-content {
    padding: 20px;
}